
@{
    ViewData["Title"] = "View";
}

<h2>View</h2>
<li><a asp-controller="WildeRoverItems" asp-action="Index">Wilde Rover Items</a></li>
<li><a asp-controller="VendorItems" asp-action="Index">Vendor Items</a></li>
<li><a asp-controller="Vendors" asp-action="Index">Vendors</a></li>
<li><a asp-controller="Admin" asp-action="Admin">Admin</a></li>