@model IEnumerable<WildeRoverMgmtApp.Models.InventoryArea>

@{
    ViewData["Title"] = "FrontHouseIndex";
}

<h2>FrontHouseIndex</h2>

<table class="table">
    <tbody>
        @foreach(var area in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Inventory" asp-action="FrontHouseInventory" asp-route-id="@area.InventoryAreaId" asp-route-loadFromContext="true">
                        @Html.DisplayFor(m => area.Name)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

