@model WildeRoverMgmtApp.Models.FrontHouseInventoryViewModel

@{
    ViewData["Title"] = "Front House Inventory";
}

<h2>Front of House Inventory</h2>

@using (Html.BeginForm("FrontHouseInventory", "Inventory", FormMethod.Post))
{
    <table class="table-striped">
        <thead>
            <tr style="">
                <th>
                    @Html.DisplayNameFor(model => model.Inventory.FirstOrDefault().Item.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inventory.FirstOrDefault().Count)
                </th>
            </tr>
        </thead>
        <tbody id="childtable">
            @Html.EditorFor(model => Model.Inventory)
        </tbody>
    </table>
    <p>
        <input type="submit" value="Save" />
        <asp:Button ID="Reset_Button" runat="server" Text="Reset"
                    Width="81px" OnClientClick="this.form.reset();return false;" />
    </p>
}
