@model WildeRoverMgmtApp.Models.WildeRoverItem

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-md-12">

        <h1>Wilde Rover Product Management App</h1>
        <p></p>
        <a asp-controller="WildeRoverItems" asp-action="Index" class="btn btn-lg btn-success">Enter</a> 

    </div>

</div>