@model IEnumerable<WildeRoverMgmtApp.Models.OrderSummary>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach(var order in Model.OrderList)
        {
            <tr>
                <td>
                    <a asp-controller="OrderSummary" asp-action="Details" asp-route-id="order.OrderSummaryId">
                        @Html.DisplayFor(m => order.Date)
                    </a>
                </td>                
                
                    @if (order.Completed)
                    {
                        <td>Completed</td>
                    }
                    else
                    {
                        <td>Not Sent</td>
                    }

            </tr>
        }
    </tbody>


</table>
