
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailConfirmed</title>
</head>
<body>
    <div>
        Email confirmed, you may now login.
    </div>
    <div>
        <a asp-controller="Account" asp-action="Login">Click Here to Sign In</a>
    </div>

</body>
</html>
