
@{
    ViewData["Title"] = "Forgot Password";
}

<h2>ForgotPassword</h2>

<form method="post" action="ForgotPassword">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="col-md-2">Email</label>
            <input class="col-md-10" type="email" name="email" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 btn-group">
                <input type="submit" class="btn-default" value="Send" />
            </div>
        </div>
    </div>
</form>

