@model WildeRoverMgmtApp.Models.AccountResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<h2>Reset Password</h2>
<form method="post" action="ResetPassword">
    <div class="form-horizontal">
        <div>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Token)
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Enter New Password</label>
            <div class="col-md-10">
                <input type="password" asp-for="Password" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Re-Enter Password</label>
            <div class="col-md-10">
                <input type="password" asp-for="RePassword" />
            </div>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 btn-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>
</form>

